<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="container">

        <div class="card">

            <img src="/images/Logo_UnivLampung.png" alt="Logo Unila">

            <h2>Login</h2>
            <p>Sistem Pelaporan Fasilitas Kampus</p>

            <form action="/login" method="POST">

                <div class="form-group">
                    <label>Email</label>
                    <input
                        type="email"
                        name="email"
                        placeholder="Masukkan Email"
                        required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="Masukkan Password"
                        required>
                </div>

                <button type="submit">
                    Masuk
                </button>

            </form>

            <div class="footer">
                Belum punya akun?
                <a href="/register">Daftar</a>
            </div>

        </div>

    </div>

</body>

</html>