<!DOCTYPE html>
<html>
<head>
    <title>Daftar Laporan</title>
    <link rel="stylesheet" href="C:\Users\usEr\OneDrive\Documents\agile-pelaporan-fasilitas-kelompok5-main\public\css\laporan.css">
</head>
<body>

<div class="container">
    <h2>Daftar Laporan Kerusakan</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Kategori</th>
                <th>Lokasi</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>LP001</td>
                <td>Kursi Rusak</td>
                <td>Lab Komputer</td>
                <td>Dilaporkan</td>
                <td>
                    <a href="/laporan/detail/1">
                        Detail
                    </a>
                </td>
            </tr>

            <tr>
                <td>LP002</td>
                <td>Proyektor Mati</td>
                <td>Ruang A1</td>
                <td>Diproses</td>
                <td>
                    <a href="/laporan/detail/2">
                        Detail
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>