<!DOCTYPE html>
<html>
<head>
    <title>Detail Laporan</title>
    <link rel="stylesheet" href="C:\Users\usEr\OneDrive\Documents\agile-pelaporan-fasilitas-kelompok5-main\public\css\laporan.css">
</head>
<body>

<div class="container">

    <h2>Detail Laporan Kerusakan</h2>

    <div class="card">
        <p><strong>ID :</strong> LP001</p>
        <p><strong>Kategori :</strong> Kursi Rusak</p>
        <p><strong>Lokasi :</strong> Laboratorium Komputer</p>
        <p><strong>Deskripsi :</strong> Kursi patah pada bagian kaki.</p>
        <p><strong>Urgensi :</strong> Tinggi</p>
        <p><strong>Status :</strong> Dilaporkan</p>
    </div>

    <a class="btn" href="/laporan">
        Kembali
    </a>

</div>

</body>
</html>